# **LISTS**
Lists are just like arrays in C++, however, unlike arrays they dont have a fix size and that they are not limited to one data type only. This would be futher explained as the session goes on.

Lists in Python represent ordered sequences of values. Here is an example of how to create them:

In [1]:
primes = [2, 3, 5, 7]
primes

[2, 3, 5, 7]

We can even make a list of lists, we can also call them 2D lists:

In [2]:
faculties = [
    ['EEE', 'EEP'],
    ['AI', 'DS', 'CS'],
    ['CVE', 'Nano', 'Materials'], # (Comma after the last element is optional)
]
# it could also be written in the same line but would get hard to read)
faculties = [['EEE', 'EEP'],['AI', 'DS', 'CS'],['CVE', 'Nano', 'Materials']]
faculties

[['EEE', 'EEP'], ['AI', 'DS', 'CS'], ['CVE', 'Nano', 'Materials']]

A list can contain a mix of different types of variables:

In [3]:
things = ["Ada",125,53.8,'A']
things

['Ada', 125, 53.8, 'A']

## **Indexing**
You can access individual list elements with square brackets.

Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.

In [4]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[0]

'Mercury'

What's the next closest planet?

In [5]:
planets[1]

'Venus'

which planet is the furthest from sun?
Elements at the end of the list can be accessed with negative numbers, starting from -1:

In [6]:
planets[-1]

'Neptune'

## **Slicing**
What are the first three planets? We can answer this question using slicing:

In [7]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

**planets[0:3]** is our way of asking for the elements of planets starting from **index 0** and continuing up to but not including **index 3**.

The starting and ending indices are both optional. If I leave out the start index, it's assumed to be 0. So I could rewrite the expression above as:

In [8]:
planets[:3]

['Mercury', 'Venus', 'Earth']

If we leave out the end index, it will return everything to the end of the list.

In [9]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

i.e. the expression above means "give me all the planets from index 3 onward".

We can also use negative indices when slicing:

In [10]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [11]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

## **Mutable**
Lists are mutable, meaning, they can be updateable, modifiable and changeable.

One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [12]:
planets[3]="new planet"
planets

['Mercury',
 'Venus',
 'Earth',
 'new planet',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

Hm, that's quite a mouthful. Let's compensate by shortening the names of the first 3 planets.

In [13]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'new planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## **Methods**

Python offers many in-built methods and functions for list, for example, if we want to find the lenght of the list, we can do it as follows:

In [14]:
len(planets)

8

If we want to add another element in the end, we can do that using the **list.append()** method

In [15]:
planets.append('Pluto')
planets #notice that the list would now print Pluto (in the end) as well

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

**list.pop()** removes and returns the last element of a list:

In [16]:
planets.pop()

'Pluto'

In [17]:
planets #notice that Pluto has now been removed

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### **Searching lists**
Where does Earth fall in the order of planets? We can get its index using the **list.index** method.

In [18]:
planets.index("Earth")

2

Now, lets see, at what index does Pluto occur?

In [19]:
planets.index("Pluto")#it would throw an error because we dont have pluto in the list now

ValueError: 'Pluto' is not in list

We can also use the **in** operator to determine whether a list contains a particular value:

In [20]:
# Is Earth a planet?
"Earth" in planets

True

In [21]:
# Is Calbefraques a planet?
"Moon" in planets

False

# **Dictionaries**
Dictionaries are a built-in Python data structure for mapping keys to values.

In [22]:
numbers = {'one':1, 'two':2, 'three':3}

In this case **'one'**, **'two'**, and **'three'** are the ***keys***, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [23]:
numbers['one']

1

We can use the same syntax to add another key, value pair

In [24]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

Or to change the value associated with an existing key

In [25]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

Python has dictionary comprehensions with a syntax similar to the list comprehensions.

In [26]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

The **in** operator tells us whether something is a key in the dictionary

In [27]:
'Saturn' in planet_to_initial

True

In [28]:
'Betelgeuse' in planet_to_initial

False